//Контейнер.............................................
$containerWidth:1161px;
$mainOffset:20px;
//Шрифты.............................................
$fontFamily:'Yeseva One';
$mainColor: #000;
$fontSize:14px;
//Прочее.............................................
$defaultTrans:all 300ms ease-in-out;